package {{name}};

public class Test {
    private static void test(Solution solution) {
        // Write your test logic here
    }

    public static void main(String[] args) {
        Solution solution = new Solution();

        System.out.println("[PASS] " + Test.class.getPackage().getName());
    }
}
